@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ff6347;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
 
}

.page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;
}
.home-page {
  background-color: #FF5733;
  min-height: 100vh;
}

.details-page {
  background-color: crimson;
  min-height: 100vh;
}

.navbar {
  /* padding: 15px; */
  /* background-color: white; */
  font-weight: bold;
  background-color: #ff6347;
  padding: 16px;
}
.navbar h2 {
  color: #000000; /* force black text */
  margin: 0;
}
.content {
  padding: 15px;
}

.user-item {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ff6347;
  margin: 16px;
  padding: 12px;
}
.search-bar input {
  width: 100%;
  padding: 8px;
  border: 2px solid #000;
  color: #000000;
  background-color: #ffffff;
}



